# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# IDE files
# -----------------------------
.idea/
*.iml

# -----------------------------
# Virtual environments
# -----------------------------
venv/
cmpt370_project_user_management/venv/

# -----------------------------
# OS / misc
# -----------------------------
*.DS_Store

# -----------------------------
# Project-specific ignores
# -----------------------------
cmpt370_project_user_management/tests/
