/*
Style for Calendar View - Jordan
Body styled same as Landing page and rest of site
 */
body{
    background-image: url("home_page_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    margin:0;
    padding:0;
}
main{

    margin: 2rem auto;
    padding: 1.5rem;
}
#calendar{
    background: #ffffff;
    border-radius: 6px;
    padding: 1rem;
    max-height: 750px;
    max-width: 900px;
}

/*
Forms - Jordan
 */
form label{
    display:block;
    margin:0.5rem 0;
    font-weight: 600;
}
button{
    margin-top: 0.5rem;
    background: #5487C7;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    transition: background 0.2s ease;
}
button:hover{
    background: #33639E;
}
#deleteBtn{
    background: #d9534f;
}
#deleteBtn:hover{
    background: #c9302c;
}
#deleteSeriesBtn{
    background: #d9534f;
}
#deleteSeriesBtn:hover{
    background: #c9302c;
}
input, select{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 3px;
    font-size: 0.9rem;
}
input[readonly]{
    cursor: not-allowed;
    background-color: #d3d3d3;
}
/*
FullCalendar styling - Jordan
 */
.fc-daygrid-day{
    cursor: pointer;
    background-color: #ededed

}
.fc-daygrid-day:hover{
    background-color: #c0c0c0 !important;
}
.fc-event{
    cursor:pointer;
    background-color: #5487C7
}
.fc-event:hover{
    background-color: #33639E !important;
}
.fc-today-button{
    background-color: #679E33 !important;
}
.fc-day-today{
    background-color: #C3E2A6 !important;
}
/*
Modals - Jordan
 */
.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.modal-content{
    background:#fff;
    padding: 1.5rem;
    border-radius: 6px;
    width: 350px;
    text-align: left;
}
.hidden{
    display: none;
}
/* Topnav bar. -Randi */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 15px;
    z-index: 1000;
}
/* Topnav links. -Randi */
.topnav a {
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Topnav link feedback for the user. -Randi */
.topnav a:hover {
    text-decoration: underline;
}
