h1 {
    color: darkgreen;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#myTable {
    display: none; /* Hide table by default */
    border-collapse: collapse;
    margin-top: 20px;
    width: 50%;
}

#myTable th, #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#myTable th {
    background-color: #4CAF50;
    color: white;
}