<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleDesign.css') }}">
  </head>
  <body>
    <div class="topnav">
        <a href="/login_page" id="login">Login</a>
        <a href="/about_us" id="about_us">About Us</a>
        <a href="/" id="home">Home</a>


    </div>

    <div class="page-content">
        <div class="container-fluid" style="width: 60%; margin: 0 auto; text-align: center;">
            <h1 class="text-start">Hello!</h1>
            <p class="text-start">Thank you for visiting our meal planner website. We are a group of
            CMPT 370 student who were inspired by our peers talking about how difficult it is
            to manage meal prep between classes. From those conversations we decided to
            develop a website that will make meal planning, grocery shopping, and finding recipe's
            easier. Knowing most people live with friends or family we wanted to make sure all
            meal plans were collaborative. Anyone can add, deleted, comment, on and react
            to the recipes.</p>
        </div>
    </div>
  </body>


</html>