<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meal Planning App</title>
    <!--CSS Style  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar_style.css') }}">
    <!--FullCalendar core and month view import  -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet"> -->

</head>
<body>

    <main>
        <div class="topnav">
        <a href="/login_page" id="login">Login</a>
        <a href="/user_list_for_testing" id="see_users">About Us</a>
        <a href="/" id="home">Home</a>
        </div>
        <br>

        <div class="container-fluid mt-4">
            <div class="row">

                <!-- LEFT: Options (small area) -->
                <div class="col-md-3">
                    <div class="p-3 border rounded bg-light">
                        <h4>{{ meal_plan_name }}</h4>
                        {% if username == creator_name %}
                            <p>You created this!</p>
                            <p>The invite code is {{ code }}</p>
                            <button>Edit</button>
                            <button>Delete</button>
                        {% else %}
                            <p>Created by {{ creator_name }}</p>
                        {% endif %}
                        <a href="{{ url_for('add_recipe') }}">Add Recipe (To be Removed)</a>
                        <a href="{{ url_for('recipe_list') }}">View Recipe (To be Removed)</a>
                        <a href="{{ url_for('grocery_list') }}">Grocery List (To be Removed)</a>
                    </div>
                </div>



                <!-- RIGHT: Calendar (large area) -->
                <div class="col-md-9">
                    <div id="calendar"></div>
                </div>
            </div>

        </div>



        <!-- Add Event Modal-->
        <div id="addModal" class="modal hidden">
            <div class="modal-content">
                <h3>Add to Calendar</h3>
                <form id="addForm">
                    <label>Date: <input type="date" id="addDate" readonly></label>
                    <br>

                    <label>Time Slot:
                        <select id="addTimeSlot">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Snack">Snack</option>
                        </select>
                    </label>
                    <br>

                    <label>Recipe ID: <input type="number" id="addRecipe" required></label>
                    <br>

                    <label>Recipe Name: <input type="text" id="addRecipeName" required></label>
                    <br>

                    <button type="submit">Submit</button>
                    <button type="button" id="addCancel">Cancel</button>

                </form>
            </div>
        </div>

        <!-- View/Delete Modal -->
        <div id="viewModal" class="modal hidden">
            <div class="modal-content">
                <h3 id="viewTitle"></h3>
                <p>Date: <span id="viewDate"></span></p>
                <p>Time: <span id="viewTime"></span></p>
                <p>Recipe ID: <span id="viewRecipe"></span></p>
                <br>
                <button type="button" id="deleteBtn">Delete</button>
                <br><br>
                <button type="button" id="editBtn">Edit</button>
                <br>
                <button type="button" id="viewClose">Close</button>
            </div>
        </div>

        <div id="editModal" class="modal hidden">
            <div class="modal-content">
                <h3>Edit Event:</h3>
                <form id="editForm">
                    <label>Date:
                        <input type="date" id="editDate" required></label>
                    <br>
                    <label>Time Slot:
                        <select id="editTimeSlot" required>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Snack">Snack</option>
                        </select>
                    </label>
                    <br>
                    <button type="submit">Save</button>
                    <button type="button" id="editCancel">Cancel</button>
                </form>
            </div>
        </div>

        <!-- Error Modal -->
        <div id="alertModal" class="modal hidden">
            <div class="modal-content">
                <h3 id="alert_title">Error</h3>
                <p id="alert_message"></p>
                <button type="button" id="alert_close">Close</button>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="{{ url_for('static', filename='eventHandling.js') }}"></script>

</body>
</html>
