<!-- Create Meal Plan. --Randi -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_webpage.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/login_page" id="login">Login</a>
        <a href="/user_list_for_testing" id="see_users">About Us</a>
        <a href="/" id="home">Home</a>
    </div>

    <div class="container">
        <form method="POST" class="login-form" action="{{ url_for('create_meal_plan') }}">
            <h2>Create New Plann</h2>
          <label for="mealplan">Name Meal Plan:</label><br>
          <input type="text" id="plan_name" name="plan_name"><br>
          <input type="submit" value="Submit">
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="popup" class="popup">
                <div class="popup-content">
                    <p>{{ messages[0] }}</p>
                    <button onclick="closePopup()">Close</button>
                </div>
            </div>
            {% endif %}
        {% endwith %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='eventHandling.js') }}"></script>
</body>
</html>