<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MealPlanner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleDesign.css') }}">
</head>

<body>
    <div class="center">
        <h1>Welcome to Saucy!</h1>
        <p>Your family meal planner</p>

        <button id="CreateProfile">Create Profile</button>

        <!-- Removed Add Recipe and View Recipes buttons -->
    </div>

    <script src="{{ url_for('static', filename='eventHandling.js') }}"></script>
</body>
</html>
