<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>Login</h2>

    <form method="POST">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>

    {% if message %}
  <p>{{ message }}</p>
  <script>
    console.log("{{ message }}");
  </script>
{% endif %}

</body>
</html>