<!-- Edit Recipe Page - Baraa -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleDesign.css') }}">
</head>

<body>

<div class="recipe-background">

<div class="recipe-box center-column">

    <h2>Edit Recipe</h2>

    <form method="POST">

        <label>Name:</label>
        <input class="recipe-input" type="text" name="name" value="{{ recipe.name }}">

        <label>Ingredients:</label>
        <textarea class="recipe-textarea" name="ingredients" rows="4">{{ recipe.ingredients }}</textarea>

        <label>Instructions:</label>
        <textarea class="recipe-textarea" name="instructions" rows="4">{{ recipe.instructions }}</textarea>

        <button type="submit">Save Changes</button>

    </form>

    <br>
    <a class="btn-link" href="{{ url_for('recipe_list') }}">⬅ Back</a>

</div>

</div>

</body>
</html>
