<!-- Add Event Modal-->
<div id="addModal" class="modal hidden">
    <div class="modal-content">
        <h3>Add to Calendar</h3>
        <form id="addForm">
            <label>Date:
                <input type="date" id="addDate" readonly>
            </label>
            <br>
            <label>Time Slot:
                <select id="addTimeSlot">
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Appetizer">Appetizer</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Snack">Snack</option>
                </select>
            </label>
            <br>
            <label>Select Recipe:
                <select id="recipeSelect" required>
                    <!-- Options in eventHandling.js -->
                </select>
            </label>
            <br>
            <button type="submit">Submit</button>
            <button type="button" id="addCancel">Cancel</button>
        </form>
    </div>
</div>

<!-- View Recipe Event Modal-->
<div id="viewModal" class="modal hidden">
    <div class="modal-content">
        <h3 id="viewTitle"></h3>
        <p>Date: <span id="viewDate"></span></p>
        <p>Time: <span id="viewTime"></span></p>
        <p>Recipe ID: <span id="viewRecipe"></span></p>
        <br>
        <button type="button" id="viewRecipeBtn">View Recipe Details</button>
        <button type="button" id="editBtn">Edit Calendar Event</button>
        <br>
        <button type="button" id="recurringBtn">Set Repeating Event</button>
        <br>
        <button type="button" id="deleteBtn">Delete Calendar Event</button>
        <br>
        <p id="recurrenceInfo" class="hidden"></p>
        <button type="button" id="deleteSeriesBtn" class="hidden">Delete All Events in Series</button>
        <br>
        <button type="button" id="viewClose">Close</button>
    </div>
</div>

<!-- Edit Recipe Event Modal-->
<div id="editModal" class="modal hidden">
    <div class="modal-content">
        <h3>Edit Event:</h3>
        <form id="editForm">
            <label>Date:
                <input type="date" id="editDate" required></label>
            <br>
            <label>Time Slot:
                <select id="editTimeSlot" required>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Appetizer">Appetizer</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Snack">Snack</option>
                </select>
            </label>
            <br>
            <label>Select Recipe:
                <select id="editRecipeSelect" required></select>
            </label>
            <br>
            <button type="submit">Save</button>
            <button type="button" id="editCancel">Cancel</button>
        </form>
    </div>
</div>

<!-- Recurring Event Modal-->
<div id="recurringModal" class="modal hidden">
    <div class="modal-content">
        <h3 id="recurring_title">Recurring Event</h3>
        <form id="recurringForm">
            <label for="frequency">Frequency:</label>
            <select id="recurringFrequency" required>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
            </select>
            <br>
            <label for="duration">Repeat Quantity: (Max 52) </label>
            <input type="number" id="recurringDuration" min="1" max="52" required>
            <br>
            <button type="submit" id="recurringSubmit">Submit</button>
            <button type="button" id="recurringCancel">Cancel</button>
        </form>
    </div>
</div>

<!-- Error Modal -->
<div id="alertModal" class="modal hidden">
    <div class="modal-content">
        <h3 id="alert_title">Error</h3>
        <p id="alert_message"></p>
        <button type="button" id="alert_close">Close</button>
    </div>
</div>