<!--partial for filtering. -->
<div class="container mb-4" style="max-width: 800px;">
    <form action="{{ url_for('login_landing_page') }}" method="GET" class="row g-2 justify-content-center">

        <div class="col-md-5">
            <input type="text" name="search_query" class="form-control"
                           placeholder="Search by name or ingredient..."
                           value="{{ search_query }}">
        </div>
        <div class="col-auto">
            <select name="sort" class="form-select">
                <option value="newest" {% if current_sort == 'newest' %}selected{% endif %}>Newest</option>
                <option value="az" {% if current_sort == 'az' %}selected{% endif %}>A - Z</option>
                <option value="za" {% if current_sort == 'za' %}selected{% endif %}>Z - A</option>
            </select>
        </div>
        <div class="col-auto">
            <select name="diet" class="form-select">
                <option value="">All Diets</option>
                <option value="gluten_free" {% if current_diet == 'gluten_free' %}selected{% endif %}>Gluten Free</option>
                <option value="lactose_free" {% if current_diet == 'lactose_free' %}selected{% endif %}>Lactose Free</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Apply Filters</button>
        </div>
        <div class="col-auto">
            <a href="{{ url_for('login_landing_page') }}" class="btn btn-danger ">Reset</a>
        </div>
    </form>
</div>