<!-- topnav partial -->

<div class="topnav">
    <div class="mt-auto pt-2 d-flex justify-content-between align-items-center">
        <a href="/logout">Logout</a>
        <a href="/login_landing_page">Home</a>
        <a onclick="history.back()">Back</a>
        <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
        <a href="/my_recipes">My Recipes</a>
        <a href="/favorite_recipes">Favorite Recipes</a>
        <a href="/recipes">All Recipes</a>
        <a href="{{ url_for('grocery_list') }}">Grocery List</a>
        <a href="/meal_plans">Meal Plans</a>
    </div>
</div>
